{% extends "base.html" %}


{% block content %}

    <div class="about-body">
        <div class="container">
            <h1>About Contact Book</h1>
            <p>Welcome to the Contact Book, your **personalized contact management system**! This simple yet powerful tool helps you organize and store essential contact details efficiently.</p>
            <p>With an intuitive **design and easy-to-use interface**, Contact Book allows you to save, search, and manage your connections effortlessly.</p>
            <p>Whether for **personal use** or **business networking**, our Contact Book ensures you **never lose track of important contacts**.</p>
            <a href="/" class="about-btn">Go to Home</a>
        </div>
    </div>
{% endblock%}